cycler==0.10.0
decorator==4.3.0
kiwisolver==1.0.1
matplotlib==2.2.2
networkx==1.11
numpy==1.14.4
pandas==0.18.1
pgmpy==0.1.6
pyparsing==2.2.0
python-dateutil==2.7.3
pytz==2018.4
scipy==1.1.0
six==1.11.0
wrapt==1.10.11
Flask==0.12.2
Flask-Cors==3.0.3
Flask-Migrate==2.1.1
Flask-Script==2.0.6
Flask-SQLAlchemy==2.3.2